---
title: two-step verification
description: Learn how to refer to "two-step verification" in your content.
ms.date: 09/26/2023
ms.topic: contributor-guide
ms.service: microsoft-product-style-guide
ms.custom:
  - TopicID 55262
---


# two-step verification

An optional Microsoft account sign-in method. When users turn on two-step verification, they have to enter both a password and a security code that's sent to them by the Microsoft account team.

Note the hyphen.

Don't use *two-step authorization* or *two-step authentication.*

Avoid using the term *multifactor authentication* in consumer-facing content.

**Example**  
Two-step verification makes it harder for someone to gain unauthorized access to your Microsoft account. 

